/.idea
src/main/resources/static/node_modules
target/classes/static/node_modules
target/classes/static/pure-html-backup
src/main/resources/static/package-lock.json
src/main/resources/static/package.json
src/main/resources/static/img/mailing-list.png
src/main/resources/static/js/helper.js
src/main/resources/static/js/form.js
src/main/resources/static/js/product.js
src/main/resources/static/product-details-backup.html
SQL statements
.vscode/
colors-pyscho.png
src/main/resources/static/contact-us.html
WeBrew-presentation-deck.pptx
src/main/resources/static/pure-html-backup
