*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* footer section */

/* footer section ends */

/* main section */
.form_left, .form_right{
    /* display:none; */
}


.form_left img{
    width: 80%;
    height: 80%;
}

.purchase_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.qty_section{
    display: flex;
}   

.qty_txt{
    font-size: 1rem;
}

.prodPrice{
    font-size: 1.5rem;
}

.qty_input{
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}

.purchase_btn{
    border: none;
    border-radius: 0.5rem;
    background-color: #189e1e;
    color: white;
    width: 25%;
    /* display: none; */
}

.purchase_btn:hover, .user_selection button:hover{
    background-color: #2e8b57;
}

/* user input section */
.user_input{
    display: grid;
    grid-template:1fr auto 1fr auto 1fr / 1fr 3fr;
    gap: 2rem 1rem;
    padding: 2rem;
    /* display: none; */
}

.input_txt{
    text-align: end;
    padding-right: 1rem;
}

.input_format_selection, #input_txt_format{
    /* display: none; */
}

/* user_selection button section*/
.user_selection{
    display: flex;
    justify-content: space-around;
    height: 4rem;
    margin: 1rem;
}

.user_selection button{
    width: fit-content;
    border-radius: 0.5rem;
    background-color: #189e1e;
    color: white;
    border: none;
    padding: 1rem;
    margin: 1rem;
    height: 3rem;
}

#btn_create{
    /* display: none; */
}

#btn_update, #btn_delete{
    /* display: none; */
}

/* main section ends */

/* footer section */

/* footer section ends */