body {
    font-family: "Montserrat", Helvetica, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-padding {
    padding-left: 5rem;
    padding-right: 8rem;
    padding-top: 2rem;
}

section h1,
section h2,
section h3 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: #e65722;
}

a:hover {
    color: #e65722;
}

.divider {
    border-bottom: 3px dotted #000;
    margin-top: 5rem;
}

#reviews {
    padding-bottom: 5rem;
}

#logo {
    padding: 1.5rem;
}

.logo img {
    height: 4rem;
    width: auto;
}

.custom-bg,
.navbar-nav ul,
footer {
    background-color: #2e8b57;
    color: #fff;
    margin-top: auto;

}

.nav-item a {
    color: #fff;
}

nav .navbar-nav li a:hover {
    color: white !important;
    background-color: #005B41;
}

.navbar-nav li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar img {
    height: 1.5rem;
}

#banner {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.8239670868347339) 78%, rgba(255, 255, 255, 1) 96%), url("/www/img/tea-leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 0 30%;
    height: 18.75rem;
    max-height: 21.875rem;
}

.jumbo-text {
    width: 40rem;
    margin-top: 3%;
    margin-right: 2.5rem;
    position: relative;
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 0.5rem;
}

.jumbo-text h1 {
    font-family: "Licorice";
    font-size: 3.5rem;
    color: #005B41;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbo-text button {
    width: 9rem;
    border: none;
    padding: 8px;
    background-color: #2e8b57;
    border-radius: 0.2rem;

}

.jumbo-text button a {
    color: #fff;
    text-decoration: none;
}

.jumbo-text button:hover {
    background-color: #005B41;
}

.right {
    position: absolute;
    right: 0;
    padding: 1rem 0.5rem 1rem 2rem;
}

.typography {
    font-family: "Licorice";
    font-size: 2.9rem;
}

#love-msg {
    background-color: rgba(0, 91, 65, 0.7);
    border-radius: 1.8rem 0 0 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* CAROUSEL */
/* ------------------------------------------------------------------------ */
/* start: Slider */
.wrapper {
    position: relative;
    max-width: 940px;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, .7);
}

.arrow.prev {
    left: 0;
}

.arrow.next {
    right: 0;
}

.card-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    padding: 24px;
    gap: 24px;
    cursor: grab;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 24px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.card-wrapper::-webkit-scrollbar {
    display: none;
}

.card-wrapper.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.card-wrapper.no-smooth {
    scroll-behavior: auto;
}

.card-item {
    scroll-snap-align: start;
    border-radius: 6px;
    border: rgba(0, 91, 65, 0.2) 2px solid;
    overflow: hidden;
    background-color: #fff;
}

.card-item img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.card-info {
    padding: 16px;
}

.card-title {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #2e8b57;
}

.card-description {
    color: #888;
}

/* end: Slider */
#reviews .card-body {
    position: relative;
}

#reviews .card-body::after {
    inset: 0;
    content: "";
    position: absolute;
    background-image: url("/www/img/reviews-bg.jpg");
    background-size: cover;
    opacity: 0.1;
}

#reviews .card-header {
    color: #005B41;
}

/* FOOTER */
.footer-nav {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    list-style: none;
    align-items: flex-end;
    bottom: 0;
    height: 45px;
}

.footer-nav li {
    padding-right: 3rem;
}

.footer-nav svg {
    margin-right: 0.1rem;
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
}

.footer-nav li a:hover {
    color: #000;
    text-decoration: underline;
}

/* MOBILE */
@media screen and (max-width:576px) {
    .footer-nav {
        padding-left: 0 !important;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem;
        align-items: center;
    }

    .footer-nav li {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 0 !important;
    }

    .arrow {
        display: none;
    }

    .card-wrapper {
        margin-left: -16px;
        width: 100%;
        grid-auto-columns: 100%;
    }

    .section-padding {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    #img-carousel .container {
        padding-left: 0;
        padding-right: 0;
    }

    .card-wrapper {
        padding: 12px;
        padding-top: 0;
        width: 100%;
    }
    #img-carousel, h2 {
        padding-top:0;
    }
    section {
        padding-top: 0 !important;
    }
    #img-carousel .card-title {
        text-align: center;
    }
    #welcome {
        background-image: linear-gradient(180deg, rgba(255,255,255,0.09754922476803218) 16%, rgba(255,255,255,1) 94%), url("/www/img/mobile-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: 0% 60%;
        height: 10rem;
        max-height: 12rem;
    }
    .divider {
        margin-top: 2rem;
    }
    #reviews {
        padding-bottom: 3rem;
    }
}