/* SHARED CSS */
body {
    font-family: "Montserrat", Arial, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF6DC;
}

.section-padding {
    padding-left: 5rem;
    padding-right: 8rem;
}

section h1,
section h2,
section h3 {
    color: #e65722;
}

.custom-bg,
.navbar-nav ul,
footer {
    background-color: #2e8b57;
    color: #fff;
    margin-top: auto;

}

a:hover {
    color: #e65722;
}

.divider {
    border-bottom: 3px dotted #000;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* LOGO AND NAVIGATION BAR */
#logo {
    padding-left: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #292929 !important;
}

#logo img {
    height: 5rem;
    width: auto;
}

.nav-item a {
    color: #fff;
}

nav .navbar-nav li a:hover {
    color: white !important;
    background-color: #005B41;
}

.navbar-nav li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar img {
    height: 1.5rem;
}

/* BANNER SECTION */
#banner {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.8239670868347339) 78%, rgba(255, 255, 255, 1) 96%), url("/www/img/tea-leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 0 30%;
    height: 18.75rem;
    max-height: 21.875rem;
}

/* Right div  -Exclusively handcrafted tea */
#banner .jumbo-text {
    width: 40rem;
    margin-top: 3%;
    margin-right: 2.5rem;
    position: relative;
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 0.5rem;
}

.jumbo-text h1 {
    font-family: "Licorice";
    font-size: 3.5rem;
    color: #005B41;
}

.jumbo-text button,
#mc-embedded-subscribe.button {
    width: 30%;
    padding: 8px;
    background-color: #e65722;
    border-radius: 0.2rem;
}

#banner .jumbo-text button a,
.btn-shop,
#mc-embedded-subscribe.button {
    color: #fff;
    text-decoration: none;
}

#banner .jumbo-text button:hover,
.btn-shop:hover,
#mc-embedded-subscribe.button:hover {
    background-color: #2e8b57;
    color: #fff;
}

#banner .right {
    position: absolute;
    right: 0;
    padding: 1rem 0.5rem 1rem 2rem;
}

.typography {
    font-family: "Licorice";
    font-size: 2.9rem;
}

#about-tea img {
    width: auto;
    height: 220px;
}

/* SECTION - IMG-CAROUSEL */
/* ------------------------------------------------------------------------ */

/* Add whitespace between paragraph and the carousel */
.pb-custom {
    padding-bottom: 2rem;
}

#img-carousel {
    margin-top: 2rem;
}

/* Column beside the slider */
#love-msg {
    background-color: #2e8b57;
    border-radius: 1.8rem 0 0 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* start: Slider */
#img-carousel .wrapper {
    position: relative;
    max-width: 940px;
    width: 100%;
}

#img-carousel .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 5;
}

#img-carousel .arrow:hover {
    background-color: rgba(0, 0, 0, .7);
}

#img-carousel .arrow.prev {
    left: 0;
}

#img-carousel .arrow.next {
    right: 0;
}

#img-carousel .card-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 25px);
    overflow-x: auto;
    padding: 10px;
    gap: 24px;
    cursor: grab;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 24px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#img-carousel .card-wrapper::-webkit-scrollbar {
    display: none;
}

#img-carousel .card-wrapper.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}

#img-carousel .card-wrapper.no-smooth {
    scroll-behavior: auto;
}

#img-carousel .card-item {
    scroll-snap-align: start;
    border-radius: 6px;
    border: rgba(0, 91, 65, 0.2) 2px solid;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, .1);
    background-color: #fff;
    position: relative;
}

#img-carousel .card-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#img-carousel .card-info {
    padding: 1rem;
}

#img-carousel .card-title {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    color: #2e8b57;
}

#img-carousel .card-description {
    color: #888;
}

/* Show overlay when hover over carousel card */
.card-overlay {
    position: absolute;
    background-color: rgba(255, 255, 0, 0.2);
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.2s ease-in;
    overflow: hidden;
}

/* Button in the carousel overlay */
.card-overlay .card-overlay-btn {
    color: #fff;
    background-color: #005B41;
    border-radius: 5%;
    padding: 0.5rem;
}

.card-item:hover .card-overlay {
    opacity: 1;
}

/* end: Slider */

/* REVIEW SECTION */
#reviews .card-body {
    position: relative;
}

#reviews .card-body::after {
    inset: 0;
    content: "";
    position: absolute;
    background-image: url("/www/img/reviews-bg.jpg");
    background-size: cover;
    opacity: 0.1;
}

#reviews .card-header {
    color: #005B41;
}

/* MAILING LIST SECTION */
#mailingList {
    background-color: #292929;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

/* OVERWRITE MAILCHIMP CSS */

#mc_embed_signup_scroll {
    background-color: #292929 !important;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
}

/* Fields */
form .mc-field-group {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

/* Validation message */

#mce-EMAIL {
    height: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* Border around email input field when invalid */
#mce-EMAIL.required.email.mce_inline_error {
    border: #a52a2a 2px solid;
}

#mc-embedded-subscribe.button {
    border: 0;
}

/* Error message */
div.mce_inline_error {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 300 !important;
    background-color: #a52a2a !important;
    color: #fff !important;
}

#mce-error-response.response {
    color: #fff !important;
    background-color: #a52a2a !important;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

/* Subscription successful message */
#mce-success-response.response {
    background-color: #005B41;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    transition: 1s;
    animation: response 1s forwards;
}

/* TEAM SECTION IN OURSTORY.HTML */
#team img {
    width: 30%;
}

#team div {
    color: #9E9FA5;
}

#team .team-bg {
    background-image: url("../img/ourstory-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 10%;
    height: 53.125rem;
    max-height: 62.5rem;
}

/* FOOTER SECTION */
.footer-nav {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    list-style: none;
}

.footer-nav li {
    padding-right: 3rem;
}

.footer-nav svg {
    margin-right: 0.1rem;
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
}

.footer-nav li a:hover {
    color: #000;
    text-decoration: underline;
}

/* CONTROLLING HOW THE CAROUSELL LOOK IN VIEWPORT MIN-WIDTH 577PX AND MAX 868PX */
@media screen and (min-width: 577px) and (max-width:868px) {
    #img-carousel .card-wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 2) - 12px);
        overflow-x: auto;
        padding: 24px;
        gap: 24px;
    }

    #img-carousel .card-title {
        font-size: 1rem;
        color: #2e8b57;
    }

    /* Hide arrows */
    #img-carousel .arrow {
        display: none;
    }
}

/* MOBILE */
@media screen and (max-width:576px) {

    /* SHARED CSS */
    .section-padding {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    section {
        padding-top: 0 !important;
    }

    .divider {
        margin-top: 1rem;
    }

    /* HERO BANNER */
    #welcome {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.09754922476803218) 16%, rgba(255, 255, 255, 1) 94%), url("/www/img/mobile-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: 0% 60%;
        height: 10rem;
        max-height: 12rem;
    }

    #welcome p {
        text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.2);
        color: #005B41;
    }

    /* SECTION - IMG-CAROUSEL */
    /* Carousel */
    #img-carousel .card-wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 2) - 12px);
        overflow-x: auto;
        padding: 24px;
        gap: 24px;
    }

    #img-carousel .card-title {
        font-size: 0.8rem;
        color: #2e8b57;
    }

    .card-overlay .card-overlay-btn {
        height: 10%;
        width: auto;
        font-size: 0.7rem;
        padding: 0 0.2rem;
    }

    /* Hide arrows */
    #img-carousel .arrow {
        display: none;
    }

    /* Button "Shop all products" under carousel */
    .btn-shop {
        width: 100%;
        padding: 8px;
        background-color: #2e8b57;
        border-radius: 0.2rem;
        padding-top: 1rem;
    }

    /* Add whitespace between paragraph and the carousel */
    .pb-custom {
        padding-bottom: 0.2rem;
    }

    /* REVIEWS SECTION */
    #reviews {
        padding-bottom: 3rem;
    }

    /* MAILING LIST SECTION */
    #mailingList {
        padding-top: 4rem !important;
    }

    /* TEAM SECTION IN OURSTORY.HTML */
    .team-bg {
        background-image: url("../img/ourstory-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 30%;
        height: 50rem;
        max-height: 62rem;
        overflow: visible;
    }

    /* FOOTER SECTION */
    /* ------------------------------------------------------------------------ */
    .footer-nav {
        padding-left: 0 !important;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem;
        align-items: center;
        bottom: 0;
    }

    .footer-nav li {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 0 !important;
    }
}